# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.log

# Test binary, build with `go test -c`
*.test

# Debug files
debug
launch.json

# VS code
.vscode

#log folder
log

#vendor
vendor/*
!vendor/vendor.json